version 16.8
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
service internal
no platform punt-keepalive disable-kernel-core
platform bfd-debug-trace 1
platform xconnect load-balance-hash-algo mac-ip-instanceid
platform tcam-parity-error enable
platform tcam-threshold alarm-frequency 1
platform shell
!
hostname A-PE9
!
boot-start-marker
boot system bootflash:asr920-universalk9_npe.2018-03-14_16.41_dtoscano.SSA.bin
boot-end-marker
!
!

vrf definition L3VPN-SRODN-VRF-1
 rd 10100:1
 route-target export 10100:1
 route-target import 10100:1
 !
 address-family ipv4
 exit-address-family
 !
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
logging buffered 200000
enable secret 5 $1$8Agp$nSNQGaQCMFOMHh.tPCxkD0
!
no aaa new-model
ethernet cfm ieee 
ethernet cfm global
ethernet evc Static-VPWS-EVC-1002
!
!
!
!
ip domain list epn.cisco.com
no ip domain lookup
ip domain lookup source-interface GigabitEthernet0
ip domain name vrf Mgmt-intf epn.cisco.com
!
!
!
ipv6 unicast-routing
!
!
!
!
!
!
!
pseudowire-static-oam class static-oam
 timeout refresh send 10
 ttl 255
!
mpls label range 6001 32767 static 16 6000
mpls outlabel-stack reservation
 bgp disable
mpls ldp discovery targeted-hello accept
mpls traffic-eng tunnels
mpls traffic-eng pcc peer 100.0.2.102 source 100.0.2.54
mpls traffic-eng pcc report-all
mpls traffic-eng auto-tunnel p2p config unnumbered-interface Loopback0
mpls traffic-eng auto-tunnel p2p tunnel-num min 1000 max 5000
!
mpls traffic-eng lsp attributes L3VPN-SRTE
 path-selection metric igp
 pce
!
!
multilink bundle-name authenticated
l2vpn
!
!
key chain ISIS-KEY
 key 1
  key-string cisco
   accept-lifetime 00:00:00 Jan 1 2018 infinite
   send-lifetime 00:00:00 Jan 1 2018 infinite
!
crypto pki trustpoint TP-self-signed-655728980
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-655728980
 revocation-check none
 rsakeypair TP-self-signed-655728980
!
!
crypto pki certificate chain TP-self-signed-655728980
 certificate self-signed 01
  3082032E 30820216 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  30312E30 2C060355 04031325 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 36353537 32383938 30301E17 0D313830 34303330 34303031 
  325A170D 32303031 30313030 30303030 5A303031 2E302C06 03550403 1325494F 
  532D5365 6C662D53 69676E65 642D4365 72746966 69636174 652D3635 35373238 
  39383030 82012230 0D06092A 864886F7 0D010101 05000382 010F0030 82010A02 
  82010100 F942177B 0B5961A8 50EE8C17 740BE5F0 85270783 8D96FC85 D8026728 
  27C1A944 E9295F9D 07F757FD 80F14C36 3D36BCDD 61A19175 0A2F9979 4FF60049 
  BFCE1245 A4D09E82 FB58829A 7D0C1970 D31ED9BF 7F56A5A0 D6D7F8CA 57437836 
  981505D5 859AB6A6 1F067239 B41D484B FB64205E 73C6921D 588BFBAF 98E4CC93 
  856337CC 3BEF7254 EF784A31 3C983139 2AA005EA 93B3CE75 0FB5F0BF D7BAA4C4 
  6F80C3CD 0C22C637 34C64184 D7186951 CDB026BA 86CE5994 9BF23C70 D23AF317 
  7D49F5A0 22D44098 62F049B7 E9EEDBD1 F5A731FA 02465E27 BBFB907A 729A2035 
  57FB2AFA CFB509FC 407AB185 7BD02048 5318EC1F 8F8A5A1A C383805C A3135EC3 
  B6513191 02030100 01A35330 51300F06 03551D13 0101FF04 05300301 01FF301F 
  0603551D 23041830 16801422 8DC54E40 CB599976 554013A4 83E2A33B 8B08BF30 
  1D060355 1D0E0416 0414228D C54E40CB 59997655 4013A483 E2A33B8B 08BF300D 
  06092A86 4886F70D 01010505 00038201 01008189 E7D3D0D5 2BC46664 31BE4DFF 
  606D6A94 72B32764 9A7F92FE 2CFC8A7B 3DC7EF46 EF58E108 687F1EB9 98B4BBBE 
  F3DAD174 998ECCAE 2A760139 DBCBFE7D F064CDDC 0DB0B8E5 403478C4 3B1357D9 
  90F32426 EE825879 F2940760 F42529E3 DCB9E8E8 1C0C6A87 C8276481 BF61914D 
  260BFE10 9569F104 FEF71E27 56C9315D 7FE2323B 3C65F106 57545970 4F838E39 
  52DBF14B CFEBE8E4 CC8A4F44 6ECF8AB7 95DB52CB DF6AA5F4 64655FA1 092AF985 
  6BDFBDFC 96564FC0 53C7FC86 DBC49812 3CDA133C EB418765 122157F2 95D6C937 
  1777F754 04E9989A 3AA7F710 D536EE79 382DF671 92971E44 60B00F5A 848D3EB2 
  447F85B0 79511BD0 1EAB1DCA F32E6A55 D748
  	quit
!
!
segment-routing mpls
 !
 set-attributes
  address-family ipv4
   sr-label-preferred
  exit-address-family
 !
 global-block 16000 32000
 !
 connected-prefix-sid-map
  address-family ipv4
   100.0.2.54/32 index 254 range 1 
  exit-address-family
 !
!
license udi pid ASR-920-12CZ-A sn CAT1928U2YX
license accept end user agreement
license boot level advancedmetroipaccess
no license smart enable
!
!
spanning-tree extend system-id
sdm prefer default 
diagnostic bootup level minimal
netconf-yang
!
!
!
redundancy
!
!
!
!
!
transceiver type all
 monitoring
cdp run
!
lldp run
!
pseudowire-class mpls-static
 encapsulation mpls
 no control-word
 protocol none
 preferred-path interface Tunnel1 
 status protocol notification static static-oam
!
pseudowire-class mpls-cls
 encapsulation mpls
 no control-word
 protocol none
 preferred-path interface Tunnel2
!
pseudowire-class anycast-static
 encapsulation mpls
 no control-word
 protocol none
!
! 
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 ip address 100.0.2.54 255.255.255.255
 ip router isis ACCESS
 isis circuit-type level-2-only
!
interface Loopback10
 no ip address
!
interface Tunnel1
 ip unnumbered Loopback0
 tunnel source Loopback0
 tunnel mode mpls traffic-eng
 tunnel destination 100.0.1.51
 tunnel mpls traffic-eng path-option 1 dynamic segment-routing pce
 tunnel mpls traffic-eng path-selection metric igp
 tunnel mpls traffic-eng path-selection segment-routing adjacency protected
!
interface Tunnel2
 ip unnumbered Loopback0
 tunnel source Loopback0
 tunnel mode mpls traffic-eng
 tunnel destination 100.0.1.51
 tunnel mpls traffic-eng path-option 1 dynamic segment-routing pce
 tunnel mpls traffic-eng path-selection metric igp
 tunnel mpls traffic-eng path-selection segment-routing adjacency protected
!
interface GigabitEthernet0/0/0
 description Static-VPWS-VLAN-Based
 no ip address
 negotiation auto
 service instance 1002 ethernet Static-VPWS-EVC-1002
  encapsulation dot1q 1002
  rewrite ingress tag pop 1 symmetric
  xconnect 100.0.1.51 1002 encapsulation mpls manual pw-class mpls-cls
   mpls label 1002 1002
   no mpls control-word
 !
!
interface GigabitEthernet0/0/1
 description Static-VPWS-PORT-Based
 mtu 9216
 no ip address
 negotiation auto
 no keepalive
 service instance 10 ethernet
  encapsulation default
  xconnect 100.0.1.51 100 encapsulation mpls manual pw-class mpls-static
   mpls label 100 100
   no mpls control-word
 !
!
interface GigabitEthernet0/0/2
 description L3VPN-ODN
 mtu 9216
 no ip address
 negotiation auto
 service instance 1 ethernet
  encapsulation dot1q 1
  rewrite ingress tag pop 1 symmetric
  bridge-domain 1
 !
!
interface GigabitEthernet0/0/3
 description H-L3VPN-over-PWHE-EVPN-VPWS
 no ip address
 negotiation auto
 service instance 501 ethernet
  encapsulation dot1q 501
  rewrite ingress tag pop 1 symmetric
 !

interface GigabitEthernet0/0/4
 description Ixia5/4
 no ip address
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/5
 description Ixia PE9
 no ip address
 media-type auto-select
 negotiation auto
 service instance 1 ethernet
  encapsulation dot1q 1
  rewrite ingress tag pop 1 symmetric
  xconnect 100.100.100.34 4001 encapsulation mpls manual
   mpls label 4001 4001
   mpls control-word
 !
 service instance 1001 ethernet
  encapsulation dot1q 1001
  rewrite ingress tag pop 1 symmetric
  xconnect  100.100.100.34 3001 encapsulation mpls manual
   mpls label 3001 3001
   mpls control-word
 !
 !
!
interface GigabitEthernet0/0/6
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/7
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/8
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/9
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/10
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/11
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface TenGigabitEthernet0/0/12
 mtu 9202
 ip address 10.23.254.1 255.255.255.254
 ip router isis ACCESS
 mpls ip
 mpls traffic-eng tunnels
 isis circuit-type level-2-only
 isis network point-to-point 
 isis metric 100
!
interface TenGigabitEthernet0/0/13
 mtu 9202
 ip address 10.24.254.0 255.255.255.254
 ip router isis ACCESS
 cdp enable
 mpls ip
 mpls traffic-eng tunnels
 isis circuit-type level-2-only
 isis network point-to-point 
 isis metric 100
!
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 ip address 172.27.153.147 255.255.255.128
 negotiation auto
 cdp enable
!
interface BDI1
 vrf forwarding L3VPN-SRODN-VRF-1
 ip address 10.9.1.1 255.255.255.0
!
router isis ACCESS
 net 49.0001.0102.0000.0054.00
 is-type level-2-only
 authentication mode md5
 authentication key-chain ISIS-KEY
 metric-style wide
 fast-flood 10
 set-overload-bit on-startup 120
 max-lsp-lifetime 65535
 lsp-refresh-interval 65000
 spf-interval 5 50 200
 prc-interval 5 50 200
 lsp-gen-interval 5 5 200
 log-adjacency-changes
 segment-routing mpls
 segment-routing prefix-sid-map advertise-local
 fast-reroute per-prefix level-2 all
 fast-reroute ti-lfa level-2
 microloop avoidance protected
 mpls traffic-eng router-id Loopback0
 mpls traffic-eng level-2
!
router bgp 100
 bgp router-id 100.0.2.54
 bgp log-neighbor-changes
 bgp graceful-restart
 no bgp default ipv4-unicast
 neighbor SvRR peer-group
 neighbor SvRR remote-as 100
 neighbor SvRR update-source Loopback0
 neighbor 100.0.2.202 remote-as 100
 neighbor 100.0.2.202 update-source Loopback0
 !
 address-family ipv4
 exit-address-family
 !
 address-family vpnv4
  neighbor 100.0.2.202 activate
  neighbor 100.0.2.202 send-community both
  neighbor 100.0.2.202 route-map L3VPN-ODN-TE-INIT in
  neighbor 100.0.2.202 route-map L3VPN-SR-ODN-Mark-Comm out
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor 100.0.2.202 activate
  neighbor 100.0.2.202 send-community both
 exit-address-family
 !
 address-family ipv4 vrf L3VPN-SRODN-VRF-1
  redistribute connected
 exit-address-family
 !
!
ip forward-protocol nd
!
ip community-list 1 permit 9999
ip community-list 6 permit 999999
ip community-list standard MATCH-ODN-Comm permit 9999
ip ftp source-interface GigabitEthernet0
ip ftp username root
ip ftp password roZes
no ip http server
no ip http secure-server
ip tftp source-interface GigabitEthernet0
ip route 0.0.0.0 0.0.0.0 Null0
ip route vrf Mgmt-intf 0.0.0.0 0.0.0.0 172.27.153.129
!
ip access-list extended L3VPN-ODN-Prefixes
 permit ip 10.9.0.0 0.0.255.255 any
!
!
!
route-map L3VPN-ODN-TE-INIT permit 10 
 match community 1
 set attribute-set L3VPN-SRTE
!
route-map L3VPN-SR-ODN-Mark-Comm permit 10 
 match ip address L3VPN-ODN-Prefixes
 set community 9999
!
snmp-server community epn RO
snmp-server host 172.20.163.214 version 2c epn 
snmp-server host 30.0.100.214 version 2c epn 
snmp-server host 172.20.163.214 version 2c pen 
mpls ldp router-id Loopback0 force
!
l2vpn evpn instance 39 point-to-point
 vpws context EVPN-VPWS-L3VPN-PWHE-PE3-501
  service target 501 source 501
  member GigabitEthernet0/0/3 service-instance 501
 !
!
control-plane
!
!
line con 0
 exec-timeout 600 0
 stopbits 1
line aux 0
 exec-timeout 600 0
 stopbits 1
line vty 0 4
 exec-timeout 600 0
 password lab
 login
line vty 5
 exec-timeout 0 0
 password lab
 login
 exec prompt timestamp
line vty 6 197
 exec-timeout 0 0
 password lab
 login
!
 
!

!
end
