
!
! Last configuration change at 03:39:25 UTC Tue Apr 24 2018
!
version 16.8
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
no platform punt-keepalive disable-kernel-core
platform bfd-debug-trace 1
platform xconnect load-balance-hash-algo mac-ip-instanceid
platform tcam-parity-error enable
platform tcam-threshold alarm-frequency 1
!
hostname A-PE6
!
boot-start-marker
boot system bootflash:asr920-universalk9_npe.16.08.01b.SPA.bin
boot-end-marker
!
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
enable secret 5 $1$tgln$l518MdF4Q6NUfWASLOsFU1
!
no aaa new-model
ethernet cfm ieee 
ethernet cfm global
!
!
!
!
!
!
!
ip domain list epn.cisco.com
no ip domain lookup
ip domain lookup source-interface GigabitEthernet0
ip domain name vrf Mgmt-intf epn.cisco.com
!
!
!
!
!
!
!
!
!
!
pseudowire-static-oam class static-oam
 timeout refresh send 10
!
mpls label range 6001 32767 static 16 6000
mpls label protocol ldp
mpls outlabel-stack reservation
 bgp disable
 transport disable
mpls ldp label
 allocate global prefix-list PEloopback
mpls ldp discovery targeted-hello accept
mpls traffic-eng tunnels
mpls traffic-eng pcc peer 100.0.1.101 source 100.0.1.18
mpls traffic-eng auto-tunnel p2p config unnumbered-interface Loopback0
mpls traffic-eng auto-tunnel p2p tunnel-num min 1000 max 5000
!
!
multilink bundle-name authenticated
!
key chain ISIS-KEY
 key 1
  key-string cisco
   accept-lifetime 00:00:00 Jan 1 2018 infinite
   send-lifetime 00:00:00 Jan 1 2018 infinite
!
crypto pki trustpoint TP-self-signed-1885942922
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-1885942922
 revocation-check none
 rsakeypair TP-self-signed-1885942922
!
!
crypto pki certificate chain TP-self-signed-1885942922
 certificate self-signed 01
  30820330 30820218 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 31383835 39343239 3232301E 170D3138 30333230 30323537 
  35345A17 0D323030 31303130 30303030 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D31 38383539 
  34323932 32308201 22300D06 092A8648 86F70D01 01010500 0382010F 00308201 
  0A028201 0100CBAA B0ED840E 4A6EF3BF ED50D5DC C87BDDBE 38394811 34FC7869 
  055F6E64 97A50ADB 978DB94C 66A7ACCE 26E8ED26 54B07DF8 A220E881 45703D46 
  878385F3 42CD5E06 A60160AF 5FEAD94B 5BFF0306 4E3FB67E A74D6B8B 5777C14F 
  DA4AF0E1 B62432C8 4D6200BB A30AD439 9BDF7A04 17690D03 A2B2E9A3 1B8912DD 
  90D5F271 321ECB8F 15747D46 0BE7E2C1 2500C17D 47BF53A0 CB5BCD43 D7A5BDA9 
  36793D4B F7009AFE 3432D95E F583F70F 96116CC5 3BE45A52 7F4D912B D847C441 
  45B36129 9EBE675E 6BFA0A98 FF78ACB4 07AB4D65 0B2A669E 64FCB7D2 4AFD307F 
  979EBBD1 38116691 A227CE34 25421C77 F1750936 15ED034E 8D04F4A8 BB6D140D 
  8EE6B34C C0770203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF 
  301F0603 551D2304 18301680 14ACC30E B635EA79 525E60CE 67315B4C 3483EE8F 
  AB301D06 03551D0E 04160414 ACC30EB6 35EA7952 5E60CE67 315B4C34 83EE8FAB 
  300D0609 2A864886 F70D0101 05050003 82010100 C8448662 3285AD2E CFD82AA4 
  E4166744 3319F11C 18956613 3973CF21 7E300898 C30ADE69 0E5708AA 47F02AD6 
  DC225EE4 C55EE97B CA005EEA 7B5B86CB 82D8249C 8FC9578B 0ADC1D0F 22863D93 
  297AEB3A C91A0C64 2CB7701B BAB5E6F3 1F7D68E2 E008C6B3 421706EB 5E6F0E5E 
  1B45E504 3225D4B8 75DDFD07 5232F9A4 2147DB0F D7602AB6 B4F124AB EEFD93DF 
  E2495AD3 77EBAA27 1FA6360F B0E1BA98 67B2F26A 6AF76F69 AA20CFA3 1BC82AB2 
  E7C21B10 8F027F4F FF40A032 9D1182A1 0D315A93 BD108247 C6886A77 181B7917 
  CBE021D7 3C039C4F 3AAB6C03 7FCBB4CA ED13A48E C8821133 0DD7F97A F01380DD 
  95F77730 C2447A30 A141D242 84B813D2 D8DAC449
  	quit
!
!
segment-routing mpls
 !
 set-attributes
  address-family ipv4
   sr-label-preferred
  exit-address-family
 !
 global-block 16000 32000
 !
 connected-prefix-sid-map
  address-family ipv4
   100.0.1.18/32 index 118 range 1 
  exit-address-family
 !
!
license udi pid ASR-920-12CZ-A sn CAT1928U2X8
license accept end user agreement
license boot level advancedmetroipaccess
no license smart enable
!
!
spanning-tree extend system-id
sdm prefer default 
diagnostic bootup level minimal
netconf-yang
!
!
!
redundancy
bridge-domain 1 
bridge-domain 1000 
bridge-domain 2000 
bridge-domain 3600 
bridge-domain 4000 
!
!
!
!
!
transceiver type all
 monitoring
cdp run
!
lldp run
!
pseudowire-class mpls
 encapsulation mpls
 no control-word
 protocol none
 preferred-path interface Tunnel1 
 status protocol notification static static-oam
!
! 
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 ip address 100.0.1.18 255.255.255.255
 ip router isis ACCESS
 isis circuit-type level-2-only
!
interface Tunnel1
 ip unnumbered Loopback0
 shutdown
 tunnel source Loopback0
 tunnel mode mpls traffic-eng
 tunnel destination 100.0.1.17
 tunnel mpls traffic-eng autoroute announce
 tunnel mpls traffic-eng autoroute destination
 tunnel mpls traffic-eng path-option 1 dynamic segment-routing pce
 tunnel mpls traffic-eng path-selection metric igp
 tunnel mpls traffic-eng path-selection segment-routing adjacency protected
!
interface GigabitEthernet0/0/0
 no ip address
 negotiation auto
!
interface GigabitEthernet0/0/1
 no ip address
 negotiation auto
!
interface GigabitEthernet0/0/2
 no ip address
 negotiation auto
 service instance 701 ethernet
  encapsulation dot1q 701
  rewrite ingress tag pop 1 symmetric
  bridge-domain 701
 !
 service instance 721 ethernet
  encapsulation dot1q 721
  rewrite ingress tag pop 1 symmetric
  bridge-domain 721
 !
 service instance 741 ethernet
  encapsulation dot1q 741
  rewrite ingress tag pop 1 symmetric
  bridge-domain 741
 !
 service instance 3600 ethernet
  encapsulation dot1q 3600
  rewrite ingress tag translate 1-to-1 dot1q 3600 symmetric
  bridge-domain 3600
 !
 service instance 3700 ethernet
  encapsulation dot1q 3700
  rewrite ingress tag translate 1-to-1 dot1q 3700 symmetric
  bridge-domain 3700
 !
 service instance 3800 ethernet
  encapsulation dot1q 3800
  rewrite ingress tag translate 1-to-1 dot1q 3800 symmetric
  bridge-domain 3800
 !
!
interface GigabitEthernet0/0/3
 no ip address
 negotiation auto
!
interface GigabitEthernet0/0/4
 no ip address
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/5
 no ip address
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/6
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/7
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/8
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/9
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/10
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/11
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface TenGigabitEthernet0/0/12
 mtu 9216
 ip address 10.118.151.1 255.255.255.254
 ip router isis ACCESS
 mpls ip
 mpls traffic-eng tunnels
 isis circuit-type level-2-only
 isis network point-to-point 
 isis metric 100
!
interface TenGigabitEthernet0/0/13
 mtu 9202
 ip address 10.14.18.1 255.255.255.254
 ip router isis ACCESS
 mpls ip
 mpls traffic-eng tunnels
 isis circuit-type level-2-only
 isis network point-to-point 
 isis metric 100
!
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 ip address 1.88.12.18 255.255.0.0
 negotiation auto
 cdp enable
!
interface BDI3700
 ip address 2.1.1.2 255.255.255.0
!
router isis ACCESS
 net 49.0001.0101.0000.0018.00
 is-type level-2-only
 authentication mode md5
 authentication key-chain ISIS-KEY
 metric-style wide
 fast-flood 10
 set-overload-bit on-startup 120
 max-lsp-lifetime 65535
 lsp-refresh-interval 65000
 spf-interval 5 50 200
 prc-interval 5 50 200
 lsp-gen-interval 5 5 200
 log-adjacency-changes
 segment-routing mpls
 segment-routing prefix-sid-map advertise-local
 fast-reroute per-prefix level-2 all
 fast-reroute ti-lfa level-2
 microloop avoidance protected
 mpls traffic-eng router-id Loopback0
 mpls traffic-eng level-2
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
ip tftp source-interface TenGigabitEthernet0/0/12
ip route vrf Mgmt-intf 0.0.0.0 0.0.0.0 1.88.0.1
!
!
snmp-server community epn RO
snmp-server host 30.0.100.214 version 2c epn 
mpls ldp router-id Loopback0 force
!
tftp-server bootflash:asr920-universalk9_npe.16.08.01b.SPA.bin
!
control-plane
!
!
line con 0
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 exec-timeout 0 0
 password lab
 login
line vty 5 197
 exec-timeout 0 0
 password lab
 login
!
 
!
netconf ssh

!
end
