hostname A-PE1
logging console debugging
telnet vrf default ipv4 server max-servers 10
username root
 group root-lr
 group cisco-support
 secret 5 $1$4Lbb$2DB61twKDoE/VoqgJpwDQ.
!
username lab
 group root-lr
 group cisco-support
 secret 5 $1$dbXp$Rm65fHdnoIEB6mC85cK.U1
!
line default
 exec-timeout 0 0
!
ipv4 unnumbered mpls traffic-eng Loopback0
key chain ISIS-KEY
 key 1
  accept-lifetime 00:00:00 january 01 2018 infinite
  key-string password 0822455D0A16
  send-lifetime 00:00:00 january 01 2018 infinite
  cryptographic-algorithm HMAC-MD5
 !
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
interface Loopback0
 ipv4 address 100.0.1.5 255.255.255.255
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address 1.88.12.15 255.255.0.0
!
interface TenGigE0/0/0/0
 shutdown
!
interface TenGigE0/0/0/1
 shutdown
!
interface TenGigE0/0/0/2
 shutdown
!
interface TenGigE0/0/0/3
 shutdown
!
interface TenGigE0/0/0/4
 shutdown
!
interface TenGigE0/0/0/5
 description to-AG1
 mtu 9216
 ipv4 address 10.13.15.1 255.255.255.254
!
interface TenGigE0/0/0/6
 shutdown
!
interface TenGigE0/0/0/7
 shutdown
!
interface TenGigE0/0/0/8
 shutdown
!
interface TenGigE0/0/0/9
 shutdown
!
interface TenGigE0/0/0/10
 shutdown
!
interface TenGigE0/0/0/11
 shutdown
!
interface TenGigE0/0/0/12
 shutdown
!
interface TenGigE0/0/0/13
 shutdown
!
interface TenGigE0/0/0/14
 shutdown
!
interface TenGigE0/0/0/15
 shutdown
!
interface TenGigE0/0/0/16
 shutdown
!
interface TenGigE0/0/0/17
 shutdown
!
interface TenGigE0/0/0/18
 shutdown
!
interface TenGigE0/0/0/19
 shutdown
!
interface TenGigE0/0/0/20
 shutdown
!
interface TenGigE0/0/0/21
 shutdown
!
interface TenGigE0/0/0/22
 shutdown
!
interface TenGigE0/0/0/23
 shutdown
!
interface TenGigE0/0/0/24
 shutdown
!
interface TenGigE0/0/0/25
 shutdown
!
interface TenGigE0/0/0/26
 shutdown
!
interface TenGigE0/0/0/27
 shutdown
!
interface TenGigE0/0/0/28
 shutdown
!
interface TenGigE0/0/0/29
 shutdown
!
interface TenGigE0/0/0/30
 shutdown
!
interface TenGigE0/0/0/31
 shutdown
!
interface TenGigE0/0/0/32
 shutdown
!
interface TenGigE0/0/0/33
 shutdown
!
interface TenGigE0/0/0/34
 shutdown
!
interface TenGigE0/0/0/35
 shutdown
!
interface TenGigE0/0/0/36
 shutdown
!
interface TenGigE0/0/0/37
 shutdown
!
interface TenGigE0/0/0/38
 shutdown
!
interface TenGigE0/0/0/39
 description to-A-PE3
 mtu 9216
 ipv4 address 10.15.150.0 255.255.255.254
 load-interval 30
!
interface HundredGigE0/0/1/0
 shutdown
!
interface HundredGigE0/0/1/1
 shutdown
!
interface HundredGigE0/0/1/2
 shutdown
!
interface HundredGigE0/0/1/3
 shutdown
!
interface preconfigure TenGigE0/0/0/40
!
interface preconfigure TenGigE0/0/0/41
!
interface preconfigure TenGigE0/0/0/42
!
interface preconfigure TenGigE0/0/0/43
!
interface preconfigure TenGigE0/0/0/44
!
interface preconfigure TenGigE0/0/0/45
!
interface preconfigure TenGigE0/0/0/46
!
interface preconfigure TenGigE0/0/0/47
!
interface preconfigure TenGigE0/0/0/48
!
interface preconfigure TenGigE0/0/0/49
!
router static
 address-family ipv4 unicast
  223.0.0.0/16 1.88.0.1
 !
!
router isis ACCESS
 set-overload-bit on-startup 360
 is-type level-2-only
 net 49.0001.0101.0000.0015.00
 nsr
 nsf cisco
 log adjacency changes
 lsp-gen-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
 lsp-refresh-interval 65000
 max-lsp-lifetime 65535
 lsp-password keychain ISIS-KEY
 lsp-password keychain ISIS-KEY level 1
 address-family ipv4 unicast
  metric-style wide
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  spf-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
  segment-routing mpls
  spf prefix-priority critical tag 5000
  spf prefix-priority high tag 1000
 !
 interface Loopback0
  address-family ipv4 unicast
   prefix-sid index 15
  !
 !
 interface TenGigE0/0/0/5
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface TenGigE0/0/0/25
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   metric 100
  !
 !
 interface TenGigE0/0/0/39
  bfd minimum-interval 300
  bfd multiplier 5
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
!
mpls traffic-eng
 interface TenGigE0/0/0/5
 !
 interface TenGigE0/0/0/39
 !
!
xml agent ssl
!
xml agent tty
!
xml agent
!
netconf agent tty
!
netconf-yang agent
 ssh
!
lldp
!
ssh timeout 120
ssh server rate-limit 600
ssh server session-limit 100
ssh server v2
ssh server vrf default
ssh server netconf vrf default
end

