version 16.8
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
no platform punt-keepalive disable-kernel-core
platform bfd-debug-trace 1
platform xconnect load-balance-hash-algo mac-ip-instanceid
platform tcam-parity-error enable
platform tcam-threshold alarm-frequency 1
!
hostname A-PE5
!
boot-start-marker
boot system bootflash:asr920-universalk9_npe.16.08.01b.SPA.bin
boot-end-marker
!
!
vrf definition L3VPN-SRODN-VRF-1
 rd 10100:1
 route-target export 10100:1
 route-target import 10100:1
 !
 address-family ipv4
 exit-address-family
 !
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
logging buffered 200000
enable secret 5 $1$.5z0$ojeDstbLBOUMPvQq4hNoK0
!
no aaa new-model
ethernet cfm ieee 
ethernet cfm global
ethernet evc Static-VPWS-EVC-1002
!
ip vrf default
!
!
!
!
!
!
!
ip domain list epn.cisco.com
no ip domain lookup
ip domain lookup source-interface GigabitEthernet0
ip domain name cisco.com
ip domain name vrf Mgmt-intf epn.cisco.com
!
!
!
ipv6 unicast-routing
!
!
!
!
!
!
!
pseudowire-static-oam class static-oam
 timeout refresh send 10
 ttl 255
!
mpls label range 6001 32767 static 16 6000
mpls outlabel-stack reservation
 bgp disable
mpls ldp discovery targeted-hello accept
mpls traffic-eng tunnels
mpls traffic-eng pcc peer 100.0.1.101 source 100.0.1.51
mpls traffic-eng pcc report-all
mpls traffic-eng auto-tunnel p2p config unnumbered-interface Loopback0
mpls traffic-eng auto-tunnel p2p tunnel-num min 1000 max 5000
!
mpls traffic-eng lsp attributes L3VPN-SRTE
 path-selection metric igp
 pce
!
!
multilink bundle-name authenticated
!
key chain ISIS-KEY
 key 1
  key-string cisco
   accept-lifetime 00:00:00 Jan 1 2018 infinite
   send-lifetime 00:00:00 Jan 1 2018 infinite
!
crypto pki trustpoint TP-self-signed-4117282943
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-4117282943
 revocation-check none
 rsakeypair TP-self-signed-4117282943
!
!
crypto pki certificate chain TP-self-signed-4117282943
 certificate self-signed 01
  30820330 30820218 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 34313137 32383239 3433301E 170D3138 30333036 30313537 
  30355A17 0D323030 31303130 30303030 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D34 31313732 
  38323934 33308201 22300D06 092A8648 86F70D01 01010500 0382010F 00308201 
  0A028201 0100DC5B 8C94AF64 15482F28 A98BB68C EEF841E1 98CD0820 4A33C96C 
  3D5D0EAD 99AA2172 D35D0D5F 0B065075 86593EA4 3C746B48 4E07989D 640F8DF8 
  D1C21753 945551E9 2C6B0280 9D4A3F48 110EA8A7 B872D7EB 281B97A2 D12D8F61 
  E1F42D48 18749817 2EBE0B74 EF73B4E2 413F5B1E 030A9F05 F135AB92 FE8254A4 
  08689634 A6898CEF A4F2CBCD 6279DC83 242D2D7E 153045D0 232B9515 BE631DCF 
  B54A09BB E181EBF1 B9A5B765 688E857B 7143F315 A7FF0E40 82095E2D F5994F25 
  FC7648F3 9C6D948D A1005700 B70476AA 7F86E474 73E97CB3 E18533EA 5A57A31F 
  0D8E09B0 5B026E1B 41797718 2EFE1413 7C02F3F8 05FA922F E45152CA 2A7327F0 
  F3114C1B A9850203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF 
  301F0603 551D2304 18301680 14E74B96 F32A92F2 4810869B A84F6531 B4DFDA8F 
  EC301D06 03551D0E 04160414 E74B96F3 2A92F248 10869BA8 4F6531B4 DFDA8FEC 
  300D0609 2A864886 F70D0101 05050003 82010100 83416A46 22019E81 D3B15C9F 
  86455BD9 15C3CEF4 7C186793 80EDE9C3 360779D4 BDA4803D 97D403D9 4934FDE8 
  43CCE7E1 7F24A0D6 93C0A047 3BCB8A75 A0AB76CB 7379B7E3 85640E5C 70155BE2 
  5EC6603D C7E1094D B3D77EFC 6789C01C 26E74D68 1FB0761A ECC2AA25 9628E5D4 
  7A51EA08 94427B34 5E6E5DA7 AEF3C590 BC885179 736C63B6 7A2EB941 67A47C64 
  072B7492 10180569 6E018AA8 BCD263C8 8972B807 11EED0F6 1C89D565 7FED3FD0 
  BB139449 BD9EC305 BA499620 E0C92DB8 6BDF560C F439F1FB 58B5B0BE F6726B81 
  76533A75 18420FAA 1878E60C B7ED50BE 33AEA938 BD6D0915 37E6F3FE 85E07C64 
  3AE8C12C 3D4E7A2C 9AE068BA FFCB560D A079B46F
  	quit
!
!
segment-routing mpls
 !
 set-attributes
  address-family ipv4
   sr-label-preferred
  exit-address-family
 !
 global-block 16000 32000
 !
 connected-prefix-sid-map
  address-family ipv4
   100.0.1.51/32 index 151 range 1 
  exit-address-family
 !
!
license udi pid ASR-920-12CZ-A sn CAT1914U0N6
license accept end user agreement
license boot level advancedmetroipaccess
no license smart enable
!
!
spanning-tree extend system-id
sdm prefer default 
diagnostic bootup level minimal
netconf-yang
!
!
username lab password 0 lab
username labuser privilege 15 password 0 labuser
!
redundancy
!
!
!
!
transceiver type all
 monitoring
!
lldp run
!
pseudowire-class mpls-cls
 encapsulation mpls
 no control-word
 protocol none
 preferred-path interface Tunnel2 
!
pseudowire-class mpls-static
 encapsulation mpls
 protocol none
 preferred-path interface Tunnel1
 status protocol notification static static-oam
! 
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 ip address 100.0.1.51 255.255.255.255
 ip router isis ACCESS
 isis circuit-type level-2-only
!
interface Tunnel1
 ip unnumbered Loopback0
 tunnel source Loopback0
 tunnel mode mpls traffic-eng
 tunnel destination 100.0.2.54
 tunnel mpls traffic-eng path-option 1 dynamic segment-routing pce
 tunnel mpls traffic-eng path-selection metric igp
 tunnel mpls traffic-eng path-selection segment-routing adjacency protected
!
interface Tunnel2
 ip unnumbered Loopback0
 tunnel source Loopback0
 tunnel mode mpls traffic-eng
 tunnel destination 100.0.2.54
 tunnel mpls traffic-eng path-option 1 dynamic segment-routing pce
 tunnel mpls traffic-eng path-selection metric igp
 tunnel mpls traffic-eng path-selection segment-routing adjacency protected
!
interface GigabitEthernet0/0/0
 description Static-VPWS-VLAN-Based
 no ip address
 negotiation auto
 service instance 1002 ethernet Static-VPWS-EVC-1002
  encapsulation dot1q 1002
  rewrite ingress tag pop 1 symmetric
  xconnect 100.0.2.54 1002 encapsulation mpls manual pw-class mpls-cls
   mpls label 1002 1002
   no mpls control-word
 !
 !
!
interface GigabitEthernet0/0/1
 description Static-VPWS-PORT-Based
 mtu 1600
 no ip address
 negotiation auto
 no keepalive
 service instance 1001 ethernet
  encapsulation default
  xconnect 100.0.2.54 100 encapsulation mpls manual pw-class mpls-static
   mpls label 100 100
   mpls control-word
 !
!
interface GigabitEthernet0/0/2
 description L3VPN-ODN 
 mtu 9216
 no ip address
 negotiation auto
 service instance 1 ethernet
  encapsulation dot1q 1
  rewrite ingress tag pop 1 symmetric
  bridge-domain 1
 !
 service instance 501 ethernet
  encapsulation dot1q 501
  rewrite ingress tag pop 1 symmetric
 !
!
interface GigabitEthernet0/0/3
 no ip address
 negotiation auto
!
interface GigabitEthernet0/0/4
 mtu 9216
 no ip address
 media-type auto-select
 negotiation auto
 no keepalive
!
interface GigabitEthernet0/0/5
 no ip address
 media-type auto-select
 negotiation auto
 service instance 1 ethernet
  encapsulation dot1q 1
  rewrite ingress tag pop 1 symmetric
  xconnect 100.100.100.12 4001 encapsulation mpls manual
   mpls label 4001 4001
   mpls control-word
 !
 service instance 1001 ethernet
  encapsulation dot1q 1001
  rewrite ingress tag pop 1 symmetric
  xconnect 100.100.100.12 3001 encapsulation mpls manual
   mpls label 3001 3001
   mpls control-word
 !
!
interface GigabitEthernet0/0/6
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/7
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/8
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/9
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface GigabitEthernet0/0/10
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
 !
!
interface GigabitEthernet0/0/11
 no ip address
 shutdown
 media-type auto-select
 negotiation auto
!
interface TenGigabitEthernet0/0/12
 mtu 9216
 ip address 10.117.151.1 255.255.255.254
 ip router isis ACCESS
 mpls ip
 mpls traffic-eng tunnels
 isis circuit-type level-2-only
 isis network point-to-point 
 isis metric 100
!
interface TenGigabitEthernet0/0/13
 description Configured via Netconf
 mtu 9216
 ip address 10.118.151.0 255.255.255.254
 ip router isis ACCESS
 mpls ip
 mpls traffic-eng tunnels
 isis circuit-type level-2-only
 isis network point-to-point 
 isis metric 100
!
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 ip address 172.27.153.25 255.255.255.128
 negotiation auto
!
interface BDI1
 vrf forwarding L3VPN-SRODN-VRF-1
 ip address 10.5.1.1 255.255.255.0
!
router isis ACCESS
 net 49.0001.0102.0000.0254.00
 is-type level-2-only
 authentication mode md5
 authentication key-chain ISIS-KEY
 metric-style wide
 fast-flood 10
 set-overload-bit on-startup 120
 max-lsp-lifetime 65535
 lsp-refresh-interval 65000
 spf-interval 5 50 200
 prc-interval 5 50 200
 lsp-gen-interval 5 5 200
 log-adjacency-changes
 segment-routing mpls
 segment-routing prefix-sid-map advertise-local
 fast-reroute per-prefix level-2 all
 fast-reroute ti-lfa level-2
 microloop avoidance protected
 redistribute connected
 mpls traffic-eng router-id Loopback0
 mpls traffic-eng level-2
!
router bgp 100
 bgp router-id 100.0.1.51
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor SvRR peer-group
 neighbor SvRR remote-as 100
 neighbor SvRR update-source Loopback0
 neighbor 100.0.1.201 peer-group SvRR
 neighbor 100.1.1.201 peer-group SvRR
 !
 address-family ipv4
  redistribute connected
 exit-address-family
 !
 address-family vpnv4
  neighbor SvRR send-community both
  neighbor SvRR next-hop-self
  neighbor SvRR route-map L3VPN-ODN-TE-INIT in
  neighbor SvRR route-map L3VPN-SR-ODN-Mark-Comm out
  neighbor 100.0.1.201 activate
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor SvRR send-community both
  neighbor SvRR next-hop-self
  neighbor 100.0.1.201 activate
 exit-address-family
 !
 address-family ipv4 vrf L3VPN-SRODN-VRF-1
  redistribute connected
 exit-address-family
 !
!
ip forward-protocol nd
!
ip community-list 1 permit 9999
no ip http server
no ip http secure-server
ip tftp source-interface TenGigabitEthernet0/0/12
ip route 0.0.0.0 0.0.0.0 Null0
ip route vrf Mgmt-intf 0.0.0.0 0.0.0.0 172.27.153.1
!
ip access-list extended L3VPN-ODN-Prefixes
 permit ip 10.5.0.0 0.0.255.255 any
!
!
!
route-map L3VPN-ODN-TE-INIT permit 10 
 match community 1
 set attribute-set L3VPN-SRTE
!
route-map L3VPN-SR-ODN-Mark-Comm permit 10 
 match ip address L3VPN-ODN-Prefixes
 set community 9999
!
snmp-server community epn RO
snmp-server community public RW
snmp-server trap link ietf
snmp-server enable traps snmp authentication linkdown linkup
snmp-server enable traps syslog
snmp-server host 172.20.163.214 version 2c epn 
snmp-server host 30.0.100.214 version 2c epn 
snmp-server host 172.20.163.214 version 2c pen 
snmp-server manager
mpls ldp router-id Loopback0 force
!
tftp-server bootflash:asr920-universalk9_npe.16.08.01b.SPA.bin
l2vpn evpn instance 15 point-to-point
 vpws context evpn-pe4-pe1
  service target 501 source 501
  member GigabitEthernet0/0/2 service-instance 501
 !
!
!
control-plane
!
!
line con 0
 exec-timeout 600 0
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 exec-timeout 600 0
 password lab
 login local
line vty 5 197
 exec-timeout 0 0
 password lab
 login
!
 
!

!
end
