hostname A-PE7
logging console debugging
telnet vrf default ipv4 server max-servers 10
username lab
 group root-lr
 group cisco-support
 secret 5 $1$io5C$vgPgGQhqEAsd4t58Rqw3G.
!
username root
 group root-lr
 group cisco-support
 secret 5 $1$yDAh$449huFuwgH8AieJQVN7HT.
 password 7 0316540412
!
line console
 exec-timeout 0 0
!
line default
 exec-timeout 0 0
!
ipv4 unnumbered mpls traffic-eng Loopback0
key chain ISIS-KEY
 key 1
  accept-lifetime 00:00:00 january 01 2018 infinite
  key-string password 05080F1C2243
  send-lifetime 00:00:00 january 01 2018 infinite
  cryptographic-algorithm HMAC-MD5
 !
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
interface Loopback0
 ipv4 address 100.0.2.52 255.255.255.255
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address 172.27.153.152 255.255.255.128
!
interface TenGigE0/0/0/0
 l2transport
 !
!
interface TenGigE0/0/0/1
 ipv4 address 10.23.252.0 255.255.255.254
!
interface TenGigE0/0/0/2
 description Ixia Anycast H-L3VPN
!
interface TenGigE0/0/0/2.1 l2transport
 description Anycast-vrf1
 encapsulation dot1q 1
 rewrite ingress tag pop 1 symmetric
!
interface TenGigE0/0/0/2.1000 l2transport
 encapsulation dot1q 1000
 rewrite ingress tag pop 1 symmetric
!
interface TenGigE0/0/0/2.1001 l2transport
 encapsulation dot1q 1001
 rewrite ingress tag pop 1 symmetric
!
interface TenGigE0/0/0/3
 shutdown
!
interface TenGigE0/0/0/4
 shutdown
!
interface TenGigE0/0/0/5
 description Ixia 2/4
 ipv4 address 12.1.1.1 255.255.255.0
 load-interval 30
!
interface TenGigE0/0/0/5.1 l2transport
 encapsulation dot1q 1
 rewrite ingress tag pop 1 symmetric
!
!
interface TenGigE0/0/0/5.1000 l2transport
 encapsulation dot1q 1000
 rewrite ingress tag pop 1 symmetric
!
interface TenGigE0/0/0/5.1501 l2transport
 description Anycast
 encapsulation dot1q 1501
 rewrite ingress tag pop 1 symmetric
!
interface TenGigE0/0/0/6
 shutdown
!
interface TenGigE0/0/0/7
 shutdown
!
interface TenGigE0/0/0/8
 shutdown
!
interface TenGigE0/0/0/9
 shutdown
!
interface TenGigE0/0/0/10
 ipv4 address 10.24.252.0 255.255.255.254
!
interface TenGigE0/0/0/11
 shutdown
!
interface TenGigE0/0/0/12
 shutdown
!
interface TenGigE0/0/0/13
 shutdown
!
interface TenGigE0/0/0/14
 shutdown
!
interface TenGigE0/0/0/15
 description Ixia 2/3
!
!
interface TenGigE0/0/0/15.501 l2transport
 encapsulation dot1q 501
 rewrite ingress tag pop 1 symmetric
!
interface TenGigE0/0/0/16
 shutdown
!
interface TenGigE0/0/0/17
 shutdown
!
interface TenGigE0/0/0/18
 shutdown
!
interface TenGigE0/0/0/19
 shutdown
!
interface TenGigE0/0/0/20
 shutdown
!
interface TenGigE0/0/0/21
 shutdown
!
interface TenGigE0/0/0/22
 shutdown
!
interface TenGigE0/0/0/23
 shutdown
!
interface TenGigE0/0/0/24
 shutdown
!
interface TenGigE0/0/0/25
 shutdown
!
interface TenGigE0/0/0/26
 shutdown
!
interface TenGigE0/0/0/27
 shutdown
!
interface TenGigE0/0/0/28
 shutdown
!
interface TenGigE0/0/0/29
 shutdown
!
interface TenGigE0/0/0/30
 shutdown
!
interface TenGigE0/0/0/31
 shutdown
!
interface TenGigE0/0/0/32
 shutdown
!
interface TenGigE0/0/0/33
 shutdown
!
interface TenGigE0/0/0/35
 shutdown
!
interface TenGigE0/0/0/36
 shutdown
!
interface TenGigE0/0/0/37
 shutdown
!
interface TenGigE0/0/0/38
 shutdown
!
interface TenGigE0/0/0/39
 shutdown
!
interface HundredGigE0/0/1/0
 shutdown
!
interface HundredGigE0/0/1/1
 shutdown
!
interface HundredGigE0/0/1/2
 shutdown
!
interface HundredGigE0/0/1/3
 shutdown
!
interface preconfigure TenGigE0/0/0/40
!
interface preconfigure TenGigE0/0/0/41
!
interface preconfigure TenGigE0/0/0/42
!
interface preconfigure TenGigE0/0/0/43
!
interface preconfigure TenGigE0/0/0/44
!
interface preconfigure TenGigE0/0/0/45
!
interface preconfigure TenGigE0/0/0/46
!
interface preconfigure TenGigE0/0/0/47
!
interface preconfigure TenGigE0/0/0/48
!
interface preconfigure TenGigE0/0/0/49
!
!
extcommunity-set opaque BLUE
  100
end-set
!
extcommunity-set opaque GREEN
  200
end-set
!
extcommunity-set opaque VPWS-RED
  1000
end-set
!
route-policy BLUE
  set extcommunity color BLUE
end-policy
!
route-policy ODN_EVPN
  set extcommunity color BLUE
end-policy
!
route-policy SET_SRODN_VPWS_COLOR
  set next-hop 100.0.1.50
  set extcommunity color VPWS-RED
  pass
end-policy
!
router static
 address-family ipv4 unicast
  0.0.0.0/1 Null0
  223.0.0.0/8 172.27.153.129
 !
!
router isis ACCESS
 set-overload-bit on-startup 360
 is-type level-2-only
 net 49.0001.0102.0000.0210.00
 nsr
 nsf cisco
 log adjacency changes
 lsp-gen-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
 lsp-refresh-interval 65000
 max-lsp-lifetime 65535
 lsp-password keychain ISIS-KEY
 lsp-password keychain ISIS-KEY level 1
 address-family ipv4 unicast
  metric-style wide
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  spf-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
  segment-routing mpls
  spf prefix-priority critical tag 5000
  spf prefix-priority high tag 1000
 !
 interface Loopback0
  address-family ipv4 unicast
   prefix-sid index 252
  !
 !
 interface TenGigE0/0/0/1
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface TenGigE0/0/0/10
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
!
router bgp 100
 nsr
 bgp router-id 100.0.2.52
 bgp graceful-restart
 ibgp policy out enforce-modifications
 address-family l2vpn evpn
 !
 neighbor-group SvRR
  remote-as 100
  update-source Loopback0
  address-family l2vpn evpn
   route-policy ODN_EVPN out
  !
 !
 neighbor 100.0.2.202
  use neighbor-group SvRR
 !
 neighbor 100.1.2.202
  use neighbor-group SvRR
 !
!
l2vpn
 pw-class static-pw-class-PE3
  encapsulation mpls
   control-word
   preferred-path sr-te policy GREEN-PE3
  !
 !
 pw-class static-pw-h-l3vpn-class
  encapsulation mpls
   control-word
  !
 !
 xconnect group Static-VPWS-PE3
  p2p srte-1
   interface TenGigE0/0/0/5.1001
   neighbor ipv4 100.0.1.50 pw-id 1001
    mpls static label local 1001 remote 1001
    pw-class static-pw-class-PE3
   !
  !
 !
 xconnect group EVPN-VPWS-ODN-PE3
  p2p odn-1
   interface TenGigE0/0/0/5.1
   neighbor evpn evi 1317 target 1 source 1
   !
  !
 !
 xconnect group H-L3VPN-EVPN-VPWS-over-PWHE-PE3
  p2p L3VPN-TE-VRF1
   interface TenGigE0/0/0/15.501
   neighbor evpn evi 37 target 501 source 501
   !
  !
  p2p L3VPN-IGP-VRF101
   interface TenGigE0/0/0/15.601
   neighbor evpn evi 37 target 601 source 601
   !
  !
 !
 xconnect group Static-VPWS-PE34-H-L3VPN-AnyCast
  p2p L3VPN-VRF1
   interface TenGigE0/0/0/2.1
   neighbor ipv4 100.100.100.34 pw-id 5001
    mpls static label local 5001 remote 5001
    pw-class static-pw-h-l3vpn-class
   !
  !
 xconnect group StaticVPWS-PE12-AnyCast-EVPNCore
  p2p anycast1
   interface TenGigE0/0/0/2.1001
   neighbor ipv4 100.100.100.34 pw-id 7001
    mpls static label local 7001 remote 7001
    pw-class static-pw-h-l3vpn-class
   !
  !
 !
!
mpls traffic-eng
 interface TenGigE0/0/0/1
 !
 interface TenGigE0/0/0/10
 !
!
segment-routing
 traffic-eng
  logging
   policy status
  !
  on-demand color 100
   dynamic
    pce
    !
    metric
     type igp
    !
   !
  !
  policy GREEN-PE3
   color 200 end-point ipv4 100.0.1.50
   candidate-paths
    preference 1
     dynamic
      pcep
      !
      metric
       type igp
      !
     !
    !
   !
  !
  pcc
   source-address ipv4 100.0.2.52
   pce address ipv4 100.0.2.102
   !
  !
 !
!
xml agent tty
!
xml agent
!
netconf agent tty
!
netconf-yang agent
 ssh
!
lldp
!
ssh server v2
end

