hostname AG4
logging console debugging
telnet vrf default ipv4 server max-servers 10
username root
 group root-lr
 group cisco-support
 secret 5 $1$iQFg$ScBq9Y5SM7kcoNOkQK2qh0
!
username lab
 group root-lr
 group cisco-support
 secret 5 $1$zT7n$ffSEQ.QoMVephssjq9eTp0
!
line console
 exec-timeout 0 0
!
line default
 exec-timeout 0 0
!
ipv4 unnumbered mpls traffic-eng Loopback0
key chain ISIS-KEY
 key 1
  accept-lifetime 00:00:00 january 01 2018 infinite
  key-string password 070C285F4D06
  send-lifetime 00:00:00 january 01 2018 infinite
  cryptographic-algorithm HMAC-MD5
 !
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
interface Bundle-Ether124
 shutdown
!
interface Bundle-Ether2124
 description to-PA3
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.21.24.0
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.21.24.1 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Bundle-Ether2224
 description to-PA4
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.22.24.0
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.22.24.1 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Bundle-Ether2324
 description to-AG3
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.23.24.0
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.23.24.1 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Loopback0
 ipv4 address 100.0.2.4 255.255.255.255
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address 1.88.12.24 255.255.0.0
!
interface TenGigE0/0/0/0
 shutdown
!
interface TenGigE0/0/0/1
 shutdown
!
interface TenGigE0/0/0/2
 shutdown
!
interface TenGigE0/0/0/3
 shutdown
!
interface TenGigE0/0/0/4
 shutdown
!
interface TenGigE0/0/0/5
 bundle id 2324 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 0 down 0
 load-interval 30
!
interface TenGigE0/0/0/6
 shutdown
!
interface TenGigE0/0/0/7
 shutdown
!
interface TenGigE0/0/0/8
 shutdown
!
interface TenGigE0/0/0/9
 shutdown
!
interface TenGigE0/0/0/10
 description to-A-PE7
 mtu 9216
 ipv4 address 10.24.252.1 255.255.255.254
!
interface TenGigE0/0/0/11
 shutdown
!
interface TenGigE0/0/0/12
 shutdown
!
interface TenGigE0/0/0/13
 shutdown
!
interface TenGigE0/0/0/14
 shutdown
!
interface TenGigE0/0/0/15
 bundle id 2324 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 0 down 0
 load-interval 30
!
interface TenGigE0/0/0/16
 shutdown
!
interface TenGigE0/0/0/17
 shutdown
!
interface TenGigE0/0/0/18
 shutdown
!
interface TenGigE0/0/0/19
 shutdown
!
interface TenGigE0/0/0/20
 bundle id 2224 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 0 down 0
 load-interval 30
!
interface TenGigE0/0/0/21
 bundle id 2124 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 0 down 0
 load-interval 30
!
interface TenGigE0/0/0/22
 shutdown
!
interface TenGigE0/0/0/23
 shutdown
!
interface TenGigE0/0/0/24
 shutdown
!
interface TenGigE0/0/0/25
 shutdown
!
interface TenGigE0/0/0/26
 shutdown
!
interface TenGigE0/0/0/27
 shutdown
!
interface TenGigE0/0/0/28
 shutdown
!
interface TenGigE0/0/0/29
 shutdown
!
interface TenGigE0/0/0/30
 ipv4 address 10.24.253.0 255.255.255.254
!
interface TenGigE0/0/0/31
 shutdown
!
interface TenGigE0/0/0/32
 shutdown
!
interface TenGigE0/0/0/33
 shutdown
!
interface TenGigE0/0/0/34
 shutdown
!
interface TenGigE0/0/0/35
 shutdown
!
interface TenGigE0/0/0/36
 shutdown
!
interface TenGigE0/0/0/37
 shutdown
!
interface TenGigE0/0/0/38
 description to-A-PE9
 mtu 9216
 ipv4 address 10.24.254.1 255.255.255.254
!
interface TenGigE0/0/0/39
 shutdown
!
interface HundredGigE0/0/1/0
 shutdown
!
interface HundredGigE0/0/1/1
 shutdown
!
interface HundredGigE0/0/1/2
 shutdown
!
interface HundredGigE0/0/1/3
 shutdown
!
interface preconfigure TenGigE0/0/0/40
!
router static
 address-family ipv4 unicast
  223.0.0.0/16 1.88.0.1
 !
!
router isis ACCESS
 set-overload-bit on-startup 360
 is-type level-2-only
 net 49.0001.0102.0000.0024.00
 nsr
 nsf cisco
 log adjacency changes
 lsp-gen-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
 lsp-refresh-interval 65000
 max-lsp-lifetime 65535
 lsp-password keychain ISIS-KEY
 lsp-password keychain ISIS-KEY level 1
 address-family ipv4 unicast
  metric-style wide
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  spf-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
  segment-routing mpls
  spf prefix-priority critical tag 5000
  spf prefix-priority high tag 1000
 !
 interface Bundle-Ether2124
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface Bundle-Ether2224
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface Bundle-Ether2324
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface Loopback0
  address-family ipv4 unicast
   prefix-sid index 24
  !
 !
 interface TenGigE0/0/0/10
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface TenGigE0/0/0/30
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface TenGigE0/0/0/38
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
!
mpls traffic-eng
 interface TenGigE0/0/0/10
 !
 interface TenGigE0/0/0/30
 !
 interface TenGigE0/0/0/38
 !
 interface Bundle-Ether2124
 !
 interface Bundle-Ether2224
 !
 interface Bundle-Ether2324
 !
!
lldp
!
end

