hostname PA2
logging console debugging
telnet vrf default ipv4 server max-servers 10
username root
 group root-lr
 group cisco-support
 secret 5 $1$fiUN$ocZxcJOVkxWfhaLn3cBGV1
!
username lab
 group root-lr
 group cisco-support
 secret 5 $1$CcGF$EzBAkyycnbZFt4QRF16I20
!
line console
 exec-timeout 0 0
!
line default
 exec-timeout 0 0
!
ipv4 unnumbered mpls traffic-eng Loopback0
key chain ISIS-KEY
 key 1
  accept-lifetime 00:00:00 january 01 2018 infinite
  key-string password 045802150C2E
  send-lifetime 00:00:00 january 01 2018 infinite
  cryptographic-algorithm HMAC-MD5
 !
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
interface Bundle-Ether112
 description TO-PE1
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.1.12.0
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.1.12.1 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Bundle-Ether212
 description TO-PE2
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.2.12.0
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.2.12.1 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Bundle-Ether1213
 description TO-AG1
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.12.13.1
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.12.13.0 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Bundle-Ether1214
 description TO-AG2
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.12.14.1
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.12.14.0 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Loopback0
 ipv4 address 100.0.1.2 255.255.255.255
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address 1.88.12.12 255.255.0.0
!
interface TenGigE0/0/0/0
 shutdown
!
interface TenGigE0/0/0/1
 shutdown
!
interface TenGigE0/0/0/2
 shutdown
!
interface TenGigE0/0/0/3
 shutdown
!
interface TenGigE0/0/0/4
 description to-SvRR-ACCESS1
 ipv4 address 10.11.201.1 255.255.255.254
!
interface TenGigE0/0/0/5
 shutdown
!
interface TenGigE0/0/0/6
 shutdown
!
interface TenGigE0/0/0/7
 shutdown
!
interface TenGigE0/0/0/8
 shutdown
!
interface TenGigE0/0/0/9
 shutdown
!
interface TenGigE0/0/0/10
 bundle id 1213 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
!
interface TenGigE0/0/0/11
 bundle id 1214 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
!
interface TenGigE0/0/0/12
 shutdown
!
interface TenGigE0/0/0/13
 shutdown
!
interface TenGigE0/0/0/14
 shutdown
!
interface TenGigE0/0/0/15
 shutdown
!
interface TenGigE0/0/0/16
 shutdown
!
interface TenGigE0/0/0/17
 shutdown
!
interface TenGigE0/0/0/18
 shutdown
!
interface TenGigE0/0/0/19
 shutdown
!
interface TenGigE0/0/0/20
 bundle id 212 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
!
interface TenGigE0/0/0/21
 bundle id 112 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
!
interface TenGigE0/0/0/22
 shutdown
!
interface TenGigE0/0/0/23
 shutdown
!
interface TenGigE0/0/0/24
 shutdown
!
interface TenGigE0/0/0/25
 description to-XTC-Access1-2
 ipv4 address 10.111.101.1 255.255.255.254
!
interface TenGigE0/0/0/26
 shutdown
!
interface TenGigE0/0/0/27
 shutdown
!
interface TenGigE0/0/0/28
 shutdown
!
interface TenGigE0/0/0/29
 shutdown
!
interface TenGigE0/0/0/30
 bundle id 212 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 120 down 0
 load-interval 30
!
interface TenGigE0/0/0/31
 bundle id 112 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
!
interface TenGigE0/0/0/32
 shutdown
!
interface TenGigE0/0/0/33
 shutdown
!
interface TenGigE0/0/0/34
 shutdown
!
interface TenGigE0/0/0/35
 description Ixia
 ipv4 address 9.0.12.1 255.255.255.252
!
interface TenGigE0/0/0/36
 shutdown
!
interface TenGigE0/0/0/37
 shutdown
!
interface TenGigE0/0/0/38
 bundle id 1213 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
!
interface TenGigE0/0/0/39
 bundle id 1214 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
!
interface HundredGigE0/0/1/0
 shutdown
!
interface HundredGigE0/0/1/1
 shutdown
!
interface HundredGigE0/0/1/2
 shutdown
!
interface HundredGigE0/0/1/3
 shutdown
!
router static
 address-family ipv4 unicast
  223.0.0.0/16 1.88.0.1
 !
!
router isis ACCESS
 set-overload-bit on-startup 480
 is-type level-2-only
 net 49.0001.0101.0000.0012.00
 nsr
 nsf cisco
 log adjacency changes
 lsp-gen-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
 lsp-refresh-interval 65000
 max-lsp-lifetime 65535
 lsp-password keychain ISIS-KEY
 lsp-password keychain ISIS-KEY level 1
 address-family ipv4 unicast
  metric-style wide
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  spf-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
  segment-routing mpls
  spf prefix-priority critical tag 5000
  spf prefix-priority high tag 1000
 !
 interface Bundle-Ether112
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface Bundle-Ether212
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface Bundle-Ether1213
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface Bundle-Ether1214
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface Loopback0
  address-family ipv4 unicast
   prefix-sid index 12
  !
 !
 interface TenGigE0/0/0/4
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   metric 1000
  !
 !
 interface TenGigE0/0/0/25
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   metric 1000
  !
 !
 interface TenGigE0/0/0/35
  circuit-type level-2-only
  address-family ipv4 unicast
   metric 100
  !
 !
!
mpls traffic-eng
 interface Bundle-Ether112
 !
 interface Bundle-Ether212
 !
 interface Bundle-Ether1213
 !
 interface Bundle-Ether1214
 !
!
lldp
!
end

