hostname PE1
logging console debugging
telnet vrf default ipv4 server max-servers 10
vrf L3VPN-PWHE-VRF1
 address-family ipv4 unicast
  import route-target
   100:501
  !
  export route-target
   100:501
  !
 !
 address-family ipv6 unicast
  import route-target
   100:501
  !
  export route-target
   100:501
  !
 !
!

vrf L3VPN-AnyCast-EVPN-VRF1
 address-family ipv4 unicast
  import route-target
   100:20001
  !
  export route-target
   100:20001
  !
 !
!
vrf L3VPN-AnyCast-VPN-VRF1
 address-family ipv4 unicast
  import route-target
   100:10001
  !
  export route-target
   100:10001
  !
 !
!
line console
 exec-timeout 0 0
!
line default
 exec-timeout 0 0
!
ipv4 unnumbered mpls traffic-eng Loopback0
key chain ISIS-KEY
 key 1
  accept-lifetime 00:00:00 january 01 2018 infinite
  key-string password 00071A150754
  send-lifetime 00:00:00 january 01 2018 infinite
  cryptographic-algorithm HMAC-MD5
 !
!
interface Bundle-Ether12
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.1.2.1
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.1.2.0 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Bundle-Ether15
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.1.5.1
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.1.5.0 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Bundle-Ether16
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.1.6.1
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.1.6.0 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Bundle-Ether21
 description Access side PE-PE link
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.2.1.1
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.2.1.0 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Bundle-Ether111
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.1.11.1
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.1.11.0 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Bundle-Ether112
 bfd mode ietf
 bfd address-family ipv4 timers start 180
 bfd address-family ipv4 multiplier 3
 bfd address-family ipv4 destination 10.1.12.1
 bfd address-family ipv4 fast-detect
 bfd address-family ipv4 minimum-interval 50
 mtu 9216
 ipv4 address 10.1.12.0 255.255.255.254
 ipv4 unreachables disable
 bundle minimum-active links 1
 load-interval 30
 dampening
!
interface Loopback0
 ipv4 address 100.0.0.1 255.255.255.255
!
interface Loopback100
 description Anycast
 ipv4 address 100.100.100.12 255.255.255.255
!
interface MgmtEth0/RSP0/CPU0/0
 ipv4 address 1.88.12.1 255.255.0.0
!
interface MgmtEth0/RSP0/CPU0/1
 shutdown
!
interface MgmtEth0/RSP1/CPU0/0
 shutdown
!
interface MgmtEth0/RSP1/CPU0/1
 shutdown
!
interface TenGigE0/0/0/0
 bundle id 15 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
 frequency synchronization
  selection input
  priority 20
 !
 transceiver permit pid all
!
interface TenGigE0/0/0/1
 bundle id 16 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
 frequency synchronization
  selection input
  priority 20
 !
 transceiver permit pid all
!
interface TenGigE0/0/0/2
 shutdown
!
interface TenGigE0/0/0/3
 shutdown
!
interface TenGigE0/0/0/4
 bundle id 111 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
 frequency synchronization
  selection input
  priority 20
 !
 transceiver permit pid all
!
interface TenGigE0/0/0/5
 bundle id 112 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
 frequency synchronization
  selection input
  priority 20
 !
 transceiver permit pid all
!
interface TenGigE0/0/0/6
 shutdown
!
interface TenGigE0/0/0/7
 shutdown
!
interface TenGigE0/0/0/8
 bundle id 12 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
 frequency synchronization
  selection input
  priority 20
 !
 transceiver permit pid all
!
interface TenGigE0/0/0/9
 shutdown
!
interface TenGigE0/0/0/10
 bundle id 15 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
 frequency synchronization
  selection input
  priority 20
 !
 transceiver permit pid all
!
interface TenGigE0/0/0/11
 bundle id 16 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
 frequency synchronization
  selection input
  priority 20
 !
 transceiver permit pid all
!
interface TenGigE0/0/0/12
 shutdown
!
interface TenGigE0/0/0/13
 shutdown
!
interface TenGigE0/0/0/14
 bundle id 111 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
 frequency synchronization
  selection input
  priority 20
 !
 transceiver permit pid all
!
interface TenGigE0/0/0/15
 bundle id 112 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
 frequency synchronization
  selection input
  priority 20
 !
 transceiver permit pid all
!
interface TenGigE0/0/0/16
 shutdown
!
interface TenGigE0/0/0/17
 shutdown
!
interface TenGigE0/0/0/18
 bundle id 21 mode active
 cdp
 lacp period short
 lacp period short receive 100
 lacp period short transmit 100
 carrier-delay up 150000 down 0
 load-interval 30
 frequency synchronization
  selection input
  priority 20
 !
 transceiver permit pid all
!
interface TenGigE0/0/0/19
 shutdown
!
interface BVI1
 host-routing
 vrf L3VPN-AnyCast-VPN-VRF1
 ipv4 address 12.0.1.1 255.255.255.0
 mac-address 12.0.1
 load-interval 30
!
interface BVI1001
 host-routing
 vrf L3VPN-AnyCast-EVPN-VRF1
 ipv4 address 12.34.0.1 255.255.255.0
 mac-address 12.34.1001
!
interface PW-Ether1
 vrf L3VPN-PWHE-VRF1
 ipv4 address 10.13.1.1 255.255.255.0
 ipv6 address 1000:10:13::1/126
 attach generic-interface-list PWHE
!
!
interface PTP0/RSP0/CPU0/0
 shutdown
!
interface PTP0/RSP1/CPU0/0
 shutdown
!
interface HundredGigE0/1/0/0
 shutdown
!
interface HundredGigE0/1/0/1
 shutdown
!
interface HundredGigE0/1/0/2
 shutdown
!
interface HundredGigE0/1/0/3
 shutdown
!
interface preconfigure TenGigE0/0/0/20
!
interface preconfigure TenGigE0/0/0/21
!
interface preconfigure TenGigE0/0/0/22
!
interface preconfigure TenGigE0/0/0/23
!
interface preconfigure TenGigE0/0/0/24
!
interface preconfigure TenGigE0/0/0/25
!
interface preconfigure TenGigE0/0/0/26
!
interface preconfigure TenGigE0/0/0/27
!
interface preconfigure TenGigE0/0/0/28
!
interface preconfigure TenGigE0/0/0/29
!
!
rd-set auto
end-set
!
prefix-set RR-LOOPBACKS
  100.0.0.0/24,
  100.1.0.0/24
end-set
!
prefix-set ACCESS-XTC_SvRR-LOOPBACKS
  100.0.1.0/24,
  100.1.1.0/24
end-set
!
route-policy ACCESS1-TO-CORE                                     
  if destination in ACCESS-XTC_SvRR-LOOPBACKS then               
    pass                                                         
  else                                                            
    drop                                                         
  endif                                                          
end-policy                                                       
!                                                                 
route-policy CORE-TO-ACCESS1
  if destination in RR-LOOPBACKS then
    pass
  else
    drop
  endif
end-policy
!
route-policy ADD-PATH-INSTALL
  set path-selection backup 1 install multipath-protect
end-policy
!
router static
 address-family ipv4 unicast
  100.0.0.0/24 Null0
  100.0.1.0/24 Null0
  100.1.0.0/24 Null0
  100.1.1.0/24 Null0
  223.0.0.0/16 1.88.0.1
 !
!
router isis CORE
 is-type level-2-only
 net 49.0001.0100.0000.0001.00
 nsr
 distribute link-state instance-id 100
 nsf cisco
 log adjacency changes
 lsp-gen-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
 lsp-refresh-interval 65000
 max-lsp-lifetime 65535
 lsp-password keychain ISIS-KEY
 lsp-password keychain ISIS-KEY level 2
 address-family ipv4 unicast
  metric-style wide
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  spf-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
  redistribute static route-policy ACCESS1-TO-CORE    
  segment-routing mpls
  spf prefix-priority critical tag 5000
  spf prefix-priority high tag 1000
 !
 interface Bundle-Ether12
  circuit-type level-2-only
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 10
  !
 !
 interface Bundle-Ether15
  circuit-type level-2-only
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 10
   mpls ldp sync level 2
  !
 !
 interface Bundle-Ether16
  circuit-type level-2-only
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 10
   mpls ldp sync
  !
 !
 interface Loopback0
  address-family ipv4 unicast
   prefix-sid index 1
  !
 !
!
router isis ACCESS
 set-overload-bit on-startup 360
 is-type level-2-only
 net 49.0001.0101.0000.0001.00
 nsr
 distribute link-state instance-id 101
 nsf cisco
 log adjacency changes
 lsp-gen-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
 lsp-refresh-interval 65000
 max-lsp-lifetime 65535
 lsp-password keychain ISIS-KEY
 lsp-password keychain ISIS-KEY level 1
 address-family ipv4 unicast
  metric-style wide
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  spf-interval maximum-wait 5000 initial-wait 50 secondary-wait 200
  redistribute static route-policy CORE-TO-ACCESS1    
  segment-routing mpls
  spf prefix-priority critical tag 5000
  spf prefix-priority high tag 1000
 !
 interface Bundle-Ether21
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface Bundle-Ether111
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface Bundle-Ether112
  bfd minimum-interval 50
  bfd multiplier 3
  bfd fast-detect ipv4
  point-to-point
  hello-password keychain ISIS-KEY
  address-family ipv4 unicast
   fast-reroute per-prefix
   fast-reroute per-prefix ti-lfa
   metric 100
  !
 !
 interface Loopback0
  address-family ipv4 unicast
   prefix-sid index 1
  !
 !
 interface Loopback100
  address-family ipv4 unicast
   prefix-sid index 1012
  !
 !
!
router bgp 100
 nsr
 bgp router-id 100.0.0.1
 bgp graceful-restart
 ibgp policy out enforce-modifications
 address-family vpnv4 unicast
  additional-paths selection route-policy ADD-PATH-INSTALL
 !
 address-family vpnv6 unicast
  additional-paths selection route-policy ADD-PATH-INSTALL
 !
 address-family l2vpn evpn
  additional-paths selection route-policy ADD-PATH-INSTALL
 !
 address-family link-state link-state
 !
 neighbor-group SvRR
  remote-as 100
  update-source Loopback0
  address-family vpnv4 unicast
  !
  address-family vpnv6 unicast
  !
  address-family l2vpn evpn
  !
 !
 neighbor-group TvRR
  remote-as 100
  update-source Loopback0
  address-family link-state link-state
  !
 !
 neighbor 100.0.0.2
  remote-as 100
  shutdown
  update-source Loopback0
  address-family l2vpn evpn
  !
 !
 neighbor 100.0.0.10
  use neighbor-group TvRR
 !
 neighbor 100.1.0.10
  use neighbor-group TvRR
 !
 neighbor 100.0.0.200
  use neighbor-group SvRR
 !
 neighbor 100.1.0.200
  use neighbor-group SvRR
 !
 vrf L3VPN-PWHE-VRF1
  rd 100:501
  address-family ipv4 unicast
   redistribute connected
  !
  address-family ipv6 unicast
   redistribute connected
  !
 !
 vrf L3VPN-AnyCast-VPN-VRF1
  rd auto
  address-family ipv4 unicast
   redistribute connected
  !
!
cef adjacency route override rib
evpn
 startup-cost-in 600
 evi 12001
  !
  advertise-mac
  !
 !
 virtual neighbor 100.0.1.50 pw-id 5001
  ethernet-segment
   identifier type 0 12.00.00.00.00.00.50.00.01
  !
 !
 virtual neighbor 100.0.1.50 pw-id 7001
  ethernet-segment
   identifier type 0 01.12.00.00.00.00.70.00.01
  !
 !
 virtual neighbor 100.0.1.51 pw-id 3001
  ethernet-segment
   identifier type 0 01.12.00.00.00.00.30.00.01
  !
 !
 virtual neighbor 100.0.1.51 pw-id 4001
  ethernet-segment
   identifier type 0 12.00.00.00.00.00.40.00.01
  !
 !
!
l2vpn
 pw-class static-pw-h-l3vpn-class
  encapsulation mpls
   control-word
  !
 !
 xconnect group evpn-vpws-l3vpn-A-PE3
  p2p L3VPN-PE3-VRF1
   interface PW-Ether1
   neighbor evpn evi 13 target 501 source 501
   !
  !
 !
 xconnect group evpn-vpws-l3vpn-A-PE4
  p2p L3VPN-PE4-VRF1
   interface PW-Ether1001
   neighbor evpn evi 15 target 501 source 501
   !
  !
 !
 bridge group Static-VPWS-H-L3VPN-IRB
  bridge-domain VRF1
   neighbor 100.0.1.50 pw-id 5001
    mpls static label local 5001 remote 5001
    pw-class static-pw-h-l3vpn-class
   !
   neighbor 100.0.1.51 pw-id 4001
    mpls static label local 4001 remote 4001
    pw-class static-pw-h-l3vpn-class
   !
   routed interface BVI1
    split-horizon group core
   !
   evi 12001
   !
  !

 bridge group Static-VPWS-H-VPN-IRB-EVPN_CORE
  bridge-domain Anycast1
   neighbor 100.0.1.50 pw-id 7001
    mpls static label local 7001 remote 7001
    pw-class static-pw-h-l3vpn-class
   !
   neighbor 100.0.1.51 pw-id 3001
    mpls static label local 3001 remote 3001
    pw-class static-pw-h-l3vpn-class
   !
   routed interface BVI1001
    split-horizon group core
   !
   evi 20001
   !
  !
 !
!
generic-interface-list PWHE
 interface Bundle-Ether111
 interface Bundle-Ether112
!
mpls traffic-eng
 interface Bundle-Ether12
 !
 interface Bundle-Ether15
 !
 interface Bundle-Ether16
 !
 interface Bundle-Ether21
 !
 interface Bundle-Ether111
 !
 interface Bundle-Ether112
 !
!
xml agent ssl
!
xml agent tty
!
xml agent
!
netconf agent tty
!
netconf-yang agent
 ssh
!
lldp
!
ssh timeout 120
ssh server rate-limit 600
ssh server v2
ssh server vrf default
ssh server netconf vrf default
end

